@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

header {
	font-family: 'Raleway', sans-serif;
	font-size: 72px;
}

.primary-font {
	font-family: 'Raleway', sans-serif;
}

.svg-white {
	fill: white;
}
